@import url("https://fonts.googleapis.com/css?family=Assistant:400,700|Playfair+Display:900");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --clr-light: #fffff3;
    --clr-dark: #00332a;
    --ff-title: "Playfair Display", serif;
    --ff-body: "Assistant", sans-serif;
  }
  


body {
    font-size: 18px;
    font-family: var(--ff-body);
    width: min(90%, 1200px);
    color: var(--clr-dark);
    overflow-x: hidden;
    margin: auto;
    max-width:100%;
}

/*HEADER*/



.navbar {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    border-bottom: 2px solid;  
    align-items: flex-end;
    
}

.navbar ul{
    
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-right: 0;
    float: right;
    text-align: center;
    
    
    
}

.navbar li a{
    padding: 0;
    margin:20px;
    text-decoration: none;
    color: rgb(39, 38, 38);
    font-size: clamp(0.78rem, calc(0.63rem + 0.83vw), 1.25rem);
    
}

.logo{
    
    font-size: clamp(1.25rem, calc(0.92rem + 1.78vw), 2.25rem);
}


/*MAIN*/

main {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

main h2{
    margin-top: 50px;
    font-family: var(--ff-title);
    padding-bottom: 10px;
}


.container {
    margin-top: 77px;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
}

.aboutme  {
    width: 700px;
   line-height: 1.4em;
}

.myphoto img{
    width: 250px;
    height: 250px;
    margin-left: 93px;
}

.projects li {
    list-style-type: none;
    line-height: 2;
}

.projects a{
   text-decoration: none; 
   
}

.projects a:hover {
    color:#263cb9;
    font-weight:700;
}

.contact-icon {
    padding: 8px;
    margin-top: 20px;
}

.contact-icon img{
    width: min(30%, 100px);

}

.skills img{
    width: 75px;
    
}

.skills ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

/*FOOTER*/

footer p {
    text-align: center;
    
}

/*Responsive*/

/*tablet*/
@media screen and (min-width:768px)and(max-width:1023px){
    
}

/*smartphone*/
@media screen and (max-width:767px){
    .logo{
        font-size: 18;
        min-width:fit-content ;
        
    }
    
    .navbar ul {
        font-size: 14px;
        justify-content: flex-end;
    }
    
    .navbar li a{
        margin: 5px
    }
    
    /*main*/
    
    .container {
        width: 100%;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
    }
    
    main h2 {
        font-size: 1em;
    }
    
    main p{
        font-size: 0.9em;
        margin: auto;
    }
    
    .myphoto img{
        margin: 20px 40px;
        padding: 0;
        
    }
    
    
    
}